<!-- <p>Пълно уширение на платното за движение в криви</p> -->
<form (ngSubmit)='save()' [formGroup]='broadeningLaneForm2' >
    <div>
        <label for="laneWidthId">Ширина на лентите</label>
        <input class="form-control" type="text" id="laneWidthId" formControlName='laneWidth'>
    </div>  
     <div>
        <label for="radiusPrId">Радиус</label>
        <input class="form-control" type="text" id="radiusPrId" formControlName='radiusPr'>
    </div>  
    <div>
        <button class="btn btn-primary mr-3" type="submit" [disabled]='!broadeningLaneForm2.valid'>Save</button>
    </div>
</form>

