<router-outlet></router-outlet>
<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p  [appHighlight]='color' defaultColor="violet">Highlight me!</p>
<p appHighlight highlightColor='green' defaultColor="violet">Highlight me2!</p>

<div class="row">

    <div class="col-md-3">
        <input type="text" #divElem [ngModel]='filter1' (ngModelChange)='filter1=$event'>
        <br>
        <div>
            Filter1: {{filter1}}
        </div>
    </div>

    <div class="col-md-3">
        <input type="text" #nameElement [ngModel]='filter2' (ngModelChange)='onFilter2($event)'>
        <br>
        <div>
            Filter2: {{filter2}}
        </div>
    </div>

</div>

<form (ngSubmit)='save()' [formGroup]='customerForm' >
    <div>
        <label for="firstNameId">First Name</label>
        <input class="form-control" type="text" id="firstNameId" formControlName='firstName'
            [ngClass]="{'is-invalid': customerForm.errors ||  firstNameMessage}">
        <span class="invalid-feedback">
            {{firstNameMessage}}
            <span *ngIf="customerForm.errors?.match">
                различно от град
            </span>
        </span>
    </div>

    <div>
        <label for="lastNameId">Last Name</label>
        <input class="form-control" type="text" id="lastNameId" formControlName='lastName'
            [ngClass]="{'is-invalid': (customerForm.get('lastName').touched || customerForm.get('lastName').dirty )}">
        <span class="invalid-feedback">
            <span *ngIf="customerForm.get('lastName').errors?.required">
                Please enter your last name
            </span>
            <span *ngIf="customerForm.get('lastName').errors?.minlength">
                must be longer than 3 characters
            </span>
        </span>
    </div>

    <div>
        <label for="ratingRangeId">Rating Range</label>
        <input class="form-control" type="text" id="ratingRangeId" formControlName='ratingRange'
            [ngClass]="{'is-invalid': (customerForm.get('ratingRange').touched || customerForm.get('ratingRange').dirty )}">
        <span class="invalid-feedback">
            <span *ngIf="customerForm.get('ratingRange').errors?.required">
                Please enter your last name
            </span>
            <span *ngIf="customerForm.get('ratingRange').errors?.minlength">
                must be longer than 3 characters
            </span>
        </span>
    </div>

    <!-- <div formArrayName='address'> -->
        <div formGroupName='address'>

            <div>
                <label for="cityId">City</label>
                <input class="form-control" type="text" id="cityId" formControlName='city' 
                [ngClass]="{'is-invalid': customerForm.errors || 
            ((customerForm.get('address.city').touched || 
            customerForm.get('address.city').dirty )&& !customerForm.get('address.city').valid)}"
            >
                <span class="invalid-feedback">
                    <span *ngIf="customerForm.get('address.city').errors?.required">
                        Please enter your first name
                    </span>
                    <span *ngIf="customerForm.get('address.city').errors?.minlength">
                        must be longer than 3 characters
                    </span>
                    <span *ngIf="customerForm.errors?.match">
                        различно от първо име
                    </span>
                </span>
            </div>

        </div>
    <!-- </div> -->

    <div>
        <!-- <div [class.field-error]='true'>pole</div> -->
        <button class="btn btn-primary mr-3" type="submit" [disabled]='!customerForm.valid'>Save</button>
        <button class="btn btn-outline-secondary" type="button" (click)='populateTestData()'>Test Data</button>
    </div>
</form>

<app-test5></app-test5>