<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p  [appHighlight]='color' defaultColor="violet">Highlight me!</p>
<p appHighlight highlightColor='green' defaultColor="violet">Highlight me2!</p>

<div class="row">

    <div class="col-md-3">
        <input type="text" #divElem [ngModel]='filter1' (ngModelChange)='filter1=$event'>
        <br>
        <div>
            Filter1: {{filter1}}
        </div>
    </div>

    <div class="col-md-3">
        <input type="text" #nameElement [ngModel]='filter2' (ngModelChange)='onFilter2($event)'>
        <br>
        <div>
            Filter2: {{filter2}}
        </div>
    </div>

</div>